<app-headerv class="header" *ngIf="islogged===''"></app-headerv>
<app-headst class="header" *ngIf="islogged==='st'"></app-headst>
<app-headadm class="header" *ngIf="islogged==='admin'"></app-headadm>
<div class="welcome">
    <img loading="lazy" src="../../assets/schh.jpg" class="schoolimgbg">
    <p class="welcometext">Welcome To We school for applied Technology</p>
</div>
<div class="info">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-6">
                <div class="imginfo d-flex align-items-center h-100 ">
                    <img loading="lazy" src="../../assets/schhe.png" class="infoimg">
                </div>
            </div>
            <div class="col-md-6 col-6">
                <div class="textinfo d-flex align-items-center h-100 justify-content-center">
                    <p>WE Schools for Applied Technology are a collaboration between Telecom Egypt and the Egyptian Ministry of Education and Technical Education. The schools offer three-year technical secondary education programs in the fields of information and communications technology, computer technology, electronics systems, and electrical systems.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="info">
    <div class="container">
        <div class="row d-flex">
            <div class="col-6 col-6">
                <div class="textinfo d-flex align-items-center h-100 justify-content-center">
                <p><span class="schoolsaredes">The schools are designed</span>
                    to bridge the gap between education and the labor market, and to provide students with the skills they need to succeed in high-demand fields. The curriculum is based on international standards, and the schools offer state-of-the-art facilities and equipment.</p>
                </div>
            </div>
            <div class="col-6 col-6">
                <div class="imginfo d-flex align-items-center h-100 ">
                    <img loading="lazy" src="../../assets/schhe.png" class="infoimg">
                </div>
            </div>
        </div>
    </div>
</div>