<div class="container-fluid">
            <div class="examm">
                <p class="title">add a post</p>
                <div class="form-group">
                    <label for="email">please select the type of groups you eant to add on:</label>
                    <input type="text" id="tyoe" name="type" required>
                </div>
                <div class="form-group">
                    <label for="name">select the classes you want to post on Name:</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="age">Description:</label>
                    <input type="text" id="age" name="age" required>
                </div>
                <div class="form-group">
                    <label for="age">what is the type of the post Q bank or main book or none:</label>
                    <input type="text" id="age" name="age" required>
                </div>
                <div class="form-group">
                    <label for="feedback">if you want to add pic or pdf click here:</label>
                    <input type="file" id="age" name="age" required>
                </div>
                <button type="submit" (click)="goto()">Submit</button>
            </div>
        </div>