    <div class="row">             
      <div class="col-1">
          <img class="avatar" src="../../../assets/avatar.webp" alt="Avatar">
      </div>
      <div class="col-11">
          <div class="post">
          <div class="post-header">
            <div class="post-info">
              <h4 class="username">John Doe</h4>
              <p class="timestamp">2 hours ago</p>
            </div>
          </div>
          <div class="post-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque rutrum nulla vitae condimentum. Sed lacinia sed urna at consequat. Curabitur finibus enim sit amet neque elementum, et convallis felis malesuada. Vestibulum euismod lectus turpis, id mollis enim iaculis nec. Donec non varius mauris.</p>
            <!-- <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="post-image d-block w-100" src="../../../assets/865780c916c2424.jpg" alt="Post Image">
              </div>
                <div class="carousel-item">
                  <img class="post-image d-block w-100" src="../../../assets/865780c916c2424.jpg" alt="Post Image">
              </div>
                <div class="carousel-item">
            <img class="post-image d-block w-100" src="../../../assets/865780c916c2424.jpg" alt="Post Image">
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>