<nav class="navbar navbar-expand-sm fixed-top w-100 navbar-dark bg-color ">
  <div class="container-fluid">
      <a class="navbar-brand ml-2 text-center" routerLink="/home"><span class="char">WE </span>Classroom</a>
     <!-- <img loading="lazy" src="../../../assets/logo2-removebg-preview.png" class="navbar-brand logohead"> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav w-80">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/news">News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/classroom">Class Room</a>
        </li>

      </ul>
      
  </div>
  <a class="usernametext" routerLink="/profile">Hy Black Atem</a>
  
  </div>
</nav>
<img loading="lazy" src="../../../assets/template-cropped.png" alt="" class="sticky-top selectDisable selectDisable head-bg-img">