<div *ngFor="let item of id"  class="container cont bg-white m-l-10 m-r-10 m-t-10 m-b-10 p-l-10 p-r-10 p-t-10 p-b-10">
    <div class="row" (click)="gotoexam(item)">
        <div class="fc">
            {{item}}
        </div>
        <div class="sc w-90">
            <div class="row ">
                <div class="col-10 d-flex">
                    <img src="../../../assets/download.jpg" class="expic" alt="">
                    <p class="p-l-10 d-flex align-items-center">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima id mollitia impedit 
                    </p>
                </div>
                <div class="col-2 disx">
                    <p>Unit 4</p>
                    <p>made by sir atem</p>
                </div>
            </div>
        </div>
    </div>
</div>